<header class="m-page-header">
  <div class="main clearfix">
    <site_title>
    <img class="site-logo icon" width="30px" height="30px" src="{{ 'assets/images/logo/logo.svg'  | relative_url }}" /img>
    <a class="site-title" title="{{ site.title }}" href="{{ site.url }}"><strong>{{ site.title }}</strong></a>
    </site_title>
    <nav><ul>
        <li><a href="{{ '/' | relative_url }}">首页</a></li>
        <li><a href="{{ '/all/' | relative_url }}">文章列表</a></li>
        <li><a href="{{ '/about-me/' | relative_url }}">关于我</a></li>
        <li><a href="{{ '/about/' | relative_url }}">关于本站</a></li>
    </ul></nav>
  </div>
</header>
