/**
 * Site Info
 */

.m-page-footer {
  @include flexbox;
  @include align-items(center);
  height: map-get($layout, footer-height);
  margin-top: - map-get($layout, footer-height);
  background-color: $main-color-3;
  @include fluid-type($min-vw, $max-vw, 16px, 26px);
  p {
    color: $text-color-3;
  }
  a {
    @include link-text-colors ( $text-color-3, $main-color-1);
  }
  .site-info {
    text-align: center;
    font-size: map-get($base, font-size-tiny);
    margin: 0 auto;
  }
  .site-rss {
    text-align: center;
    @include fluid-type($min-vw, $max-vw, 14px, 20px);
    margin: 0 auto;
    font-weight: 400px;
    a {
      font-weight: 500;
    }
    img {
      height: map-get($base, font-size-sub);
    }
  }
}
