.m-pagination {
  &>ul {
    @include horizontal-space();
  }
  &>p {
   color: #9c9c9c;
  }
  .round-button.cur {
    background-color: $main-color-1;
    border-color: $main-color-1;
    color: $text-color-1;
  }
}
