---
layout: blog-default
titles: "大破进击"
---
<div class="m-home">
  <div class="main">
    <div class="m-post-list">
      {%- for post in paginator.posts -%}
        <article>
          {%- if post.categories contains 'blog' -%}
          <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
          <div class="m-article-content">
              {{ post.excerpt | markdownify }}
          </div>
          <a href="{{ post.url | relative_url }}">阅读全文</a>
          {%- include components/article-data.html -%}
          
          {%- else -%}
          <div class="microblog-content">
              {{ post.excerpt | markdownify }}
          </div>
          <div class="clipboard" data-clipboard-text="{{ post.url | absolute_url }}">复制链接</div>
          {%- include components/article-data.html -%}
          {%- endif -%}
          
        </article>
      {%- endfor -%}
    </div>
    
    {%- if paginator.total_pages > 1 -%}
        <nav class="m-pagination">
          <p>共计 {{ paginator.total_posts }} 篇文章，{{ paginator.total_pages }} 页</p>
          <ul>
          {%- if paginator.previous_page -%}
            <li><a class="round-button" href="{{ paginator.previous_page_path | relative_url }}">
              <div class="icon icon--previous">{%- include icon/previous.svg -%}</div></a>
            </li>
          {%- else -%}
            <li><div class="round-button inactive">
              <div class="icon icon--prrevious">{%- include icon/previous.svg -%}</div></div>
            </li>
          {%- endif -%}
          
          {% if paginator.page_trail %}
          {% for trail in paginator.page_trail %}
          <li>
              <a class="round-button {% if page.url == trail.path %}cur{% endif %}" href="{{ trail.path | remove: "index.html" }}" title="{{trail.title}}"><span>{{ trail.num }}</span></a>
          </li>
          {% endfor %}
          {% endif %}
          
          {%- if paginator.next_page -%}
            <li>
              <a class="round-button" href="{{ paginator.next_page_path }}">
                <div class="icon icon--next">{%- include icon/next.svg -%}</div>
              </a>
            </li>
          {%- else -%}
              <li><div class="round-button inactive">
                <div class="icon icon--next">{%- include icon/next.svg -%}</div>
                </div></li>
          {%- endif -%}
          </ul>
        </nav>
    {%- endif -%}
  </div>
</div>

